**Implement Numpy and pandas operation for data Science**

In [18]:
import numpy as np
import pandas as pd

arr= np.array([[1, 2, 3],
              [4, 5, 6]])
print(arr)

[[1 2 3]
 [4 5 6]]

In [7]:
print("Array is of type", type(arr))

Array is of type <class 'numpy.ndarray'>

In [8]:
print("Number of dimensions", arr.ndim)

Number of dimensions 2

In [10]:
print("Size of array", arr.size)

Size of array 6

In [9]:
print("Shape of Array", arr.shape)

Shape of Array (2, 3)

In [23]:
arr1 = np.array([[10, 20, 30, 40, 50]])
arr2 = np.array([[20, 30, 40, 50, 60]])

res = arr1 + arr2
res1 = arr1 - arr2
res2 = arr1 * arr2
res3 = arr1 / arr2

print("Addition of array is", res)
print("Subtraction of array is", res1)
print("Multiplication of array is", res2)
print("Division of an array is", res3)

min = np.min(arr1)
print("Minimum value in arr1:", min)

median = np.median(arr2)
print("Median of arr2:", median)

std = np.std(arr1)
print("Standard Deviation of arr1:", std)

Addition of array is [[ 30  50  70  90 110]]
Subtraction of array is [[-10 -10 -10 -10 -10]]
Multiplication of array is [[ 200  600 1200 2000 3000]]
Division of an array is [[0.5        0.66666667 0.75       0.8        0.83333333]]
Minimum value in arr1: 10
Median of arr2: 40.0
Standard Deviation of arr1: 14.142135623730951

**Pandas**

In [25]:
import pandas as pd

data = {
    'Name' : ['Girish', 'Prasad', 'Manjula'],
    'Branch' : ['MCA', 'MBA', 'Mtech'],
    'Marks' : [42, 41, 35]
}

df = pd.DataFrame(data)
print(df)

      Name Branch  Marks
0   Girish    MCA     42
1   Prasad    MBA     41
2  Manjula  Mtech     35

In [26]:
single_row = df.loc[1]
print(single_row)
print()

Name      Prasad
Branch       MBA
Marks         41
Name: 1, dtype: object

In [27]:
df['year'] = ['2021', '2020', '2024']
print(df)

      Name Branch  Marks  year
0   Girish    MCA     42  2021
1   Prasad    MBA     41  2020
2  Manjula  Mtech     35  2024

In [29]:
df['Name']
df.loc[0]

Name      Girish
Branch       MCA
Marks         42
year        2021
Name: 0, dtype: object

In [36]:
df[df['Marks'] > 40]
print(df)

      Name Branch  Marks  year
0   Girish    MCA     42  2021
1   Prasad    MBA     41  2020
2  Manjula  Mtech     35  2024

In [40]:
df.sort_values(by='Name')

      Name Branch  Marks  year
0   Girish    MCA     42  2021
2  Manjula  Mtech     35  2024
1   Prasad    MBA     41  2020

In [41]:
df.sort_values(by='Marks')

      Name Branch  Marks  year
2  Manjula  Mtech     35  2024
1   Prasad    MBA     41  2020
0   Girish    MCA     42  2021

**Looping Statements**

In [48]:
import pandas as pd

data = {
    'Name': ['Girish', 'Prasad', 'Manjula'],
    'Branch': ['MCA', 'MBA', 'Mtech'],
    'Marks': [42, 41, 35],
    'Year': [2, 3, 2]
}

df = pd.DataFrame(data)

df['c'] = df['Marks'] + df['Year']

print(df)

      Name Branch  Marks  Year   c
0   Girish    MCA     42     2  44
1   Prasad    MBA     41     3  44
2  Manjula  Mtech     35     2  37